<!DOCTYPE html>
<html> 
<body class="jumbotron text-center">
    
   
        <h1>JuliShop</h1>
        <p class="lead text-muted">La tienda de mascotas más grande
del país. </p>

<div>
  <% if signed_in? %>
    <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"btn btn-primary my-2" %>
  <% else %>
    <%= link_to "Registrarse", new_user_registration_path, class:"btn btn-primary my-2" %>
    <%= link_to "Ingresar", new_user_session_path, class:"btn btn-primary my-2" %>
  <% end %>
</div>

