// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image {
  opacity: 0.5;
  min-height: 100%;
  min-width: 1024px;

  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.icon {
  position: absolute;
  opacity: 0.7;
  top: 17%;
 left: 50%;
 transform: translate(-50%, -50%);
  background: transparent;
}

.a {
   position: absolute;
   top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 { font-family: Satisfy; font-size: 49px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 53.9px; }

.b {
   position: absolute;
   top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p { color: #390F02; font-family: 'Droid serif', serif; font-size: 36px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center; }

.d {
   position: absolute;
   top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 { font-family: Satisfy; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 53.9px; }

.container {
   position: absolute;
   top: 90%;
   left: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}
